.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  background-color: #f5f5f5;
}

mat-nav-list {
  padding-top: 0;
}

mat-nav-list a {
  margin: 5px 10px;
  border-radius: 4px;
  
  &.active {
    background-color: #3f51b5;
    color: white;
    
    mat-icon {
      color: white;
    }
  }
}

mat-icon {
  margin-right: 10px;
}

@media (max-width: 768px) {
  mat-sidenav {
    width: 200px;
  }
}

