.customer-form {
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

mat-form-field {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .customer-form {
    min-width: 100%;
  }
}

